body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:black ; 
    background-color:white ; 
    border-style:solid ;
    text-align: center;
}
ul {
    color:blueviolet ;
    font-size: 20px;
}